<%= form_for(@descuento) do |f| %>
  <% if @descuento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@descuento.errors.count, "error") %> prohibited this descuento from being saved:</h2>

      <ul>
      <% @descuento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descuento_afp %><br>
    <%= f.number_field :descuento_afp %>
  </div>
  <div class="field">
    <%= f.label :descuento_salud %><br>
    <%= f.number_field :descuento_salud %>
  </div>
  <div class="field">
    <%= f.label :sindicato %><br>
    <%= f.number_field :sindicato %>
  </div>
  <div class="field">
    <%= f.label :impuesto %><br>
    <%= f.number_field :impuesto %>
  </div>
  <div class="field">
    <%= f.label :cotizacion_voluntaria %><br>
    <%= f.number_field :cotizacion_voluntaria %>
  </div>
  <div class="actions">
    <%= f.submit ( f.object.new_record? ? "Crear" : "Actualizar"), class: "btn" %>
  </div>
<% end %>
