<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre trabajador:</strong>
  <%= @personal.nombre_personal %>
</p>

<p>
  <strong>Apellido paterno:</strong>
  <%= @personal.apellidop_personal %>
</p>

<p>
  <strong>Apellido materno:</strong>
  <%= @personal.apellidom_personal %>
</p>

<p>
  <strong>Rut trabajador:</strong>
  <%= @personal.rut_personal %>
</p>

<p>
  <strong>Afp trabajador:</strong>
  <%= @personal.afp_personal %>
</p>

<p>
  <strong>Sistema salud:</strong>
  <%= @personal.sistema_salud %>
</p>

<p>
  <strong>Personal activo:</strong>
  <%= trueToAct(@personal.personal_activo) %>
</p>

<p>
  <strong>Fecha contratacion:</strong>
  <%= @personal.fecha_contratacion.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Tipo contrato:</strong>
  <%= @personal.tipo_contrato %>
</p>

<p>
  <strong>Tipo pago:</strong>
  <%= @personal.tipo_pago %>
</p>

<p>
  <strong>Num cuenta:</strong>
  <%= @personal.num_cuenta %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @personal.categorium.categoria %>
</p>

<p>
  <strong>Centro costo:</strong>
  <%= @personal.centrocosto.nombre_centro %>
</p>

<%= link_to 'Editar', edit_personal_path(@personal) %> |
<%= link_to 'Volver', personals_path %>
