<p id="notice"><%= notice %></p>

<p>
  <strong>Categoria:</strong>
  <%= @habere.subcategorium.categorium.categoria %>
</p>

<p>
  <strong>Subcategoria:</strong>
  <%= @habere.subcategorium.subcategoria %>
</p>

<p>
  <strong>Sueldo base:</strong>
  $ <%= @habere.sueldo_base %>
</p>


<%= link_to 'Editar', edit_habere_path(@habere) %> |
<%= link_to 'Volver', haberes_path %>
